@import url('ox_normal.css');

:root {
    /* Background Colors */
    --bg-primary: #BADBED;
    --bg-secondary: #DEDBAD;

    /* Text Colors */
    --fg-primary: #211121;
    --fg-secondary: #444444;
    --fg-emphasis: #111111;
    --fg-strong: #010101;
    --fg-muted: #101010;

    /* UI & Interactive Elements */
    --cta: #DABBAD;
    --warning: #BADDAD;
    --highlight: #BABE00;

    /* Spacing & Sizing */
    --size-xs: 0.3rem;
    --size-sm: 0.7rem;
    --size-md: 1rem;
    --size-lg: 1.414rem;
    --size-xl: 2.236rem;
    --size-xxl: 3.141rem;

    --addbad-periodic-rem: 11rem;
    --addbad-periodic: 11;

    --douglas-adams: 42rem;

    /* Transition Timing */
    --transition-fast: 0.2236s;
    --transition-default: 0.618s;
    --transition-slow: 1.732s;
}

body {
    font-family: monospace;
    color: var(--fg-primary);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    background: var(--bg-secondary);


}

header, footer {
    text-align: center;
    padding: var(--size-md);
    color: var(--fg-primary);
}

footer {
    background: var(--bg-primary);
}
header {
    text-align: center;
    font-size: var(--size-xl);
    font-weight: bold;
}

h1,
h2,
h3 {
    color: var(--fg-strong);
    font-weight: bold;
    margin-bottom: var(--size-sm);
}

main {
    max-width: var(--douglas-adams);
    margin: 0 auto;
    flex-grow: 1;
}

section {
    margin-bottom: var(--size-xxl);
    padding: var(--size-sm);

}

button {
    background: var(--cta);
    color: var(--fg-strong);
    padding: var(--size-sm) var(--size-md);
    border: 2px solid var(--fg-strong);
    transition: background-color var(--transition-default);
}

button:hover {
    background: var(--highlight);
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--fg-strong);
    border-bottom: 2px solid var(--highlight);
    transition: color var(--transition-default);
}

a:hover {
    color: var(--highlight);
}


section:has(article) {
    background-color: var(--bg-primary);
}



article h4>*:first-child {
    display:none;
}

@media screen and (min-width:11rem) {
    header {
        display: flex;
        flex-wrap: wrap;
    }
    header *{
        display: inline;
    }
    header>h2{
        margin-left:auto;
        justify-self: end;
    }

    section:has(article){
        display:grid;
        gap: var(--size-lg);
        grid-template-columns: var(--addbad-periodic-rem);
        justify-content: center;
    }

    section article {
        display: flex;
        flex-wrap:wrap;
        gap: var(--size-md);
    }

    section article h4 {
        background-color: var(--bg-secondary);
        height: var(--addbad-periodic-rem);
        aspect-ratio: 1/1;

        border: 2px solid var(--fg-strong);

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding: var(--size-xs);
        color: var(--fg-strong);
    }
    section article h4>*:first-child  {
        display:block;
    }
    
    section article h4 strong {
        font-size: var(--size-md);
        margin-bottom: var(--size-xs);
        text-align: center;
        text-transform: uppercase;
        font-size: 5rem;
    }
    section article h4>*:last-child {
        text-align: center;
        text-transform: lowercase;
        letter-spacing: 2px;
    } 


    
}
@media screen and (min-width: calc(2*11rem + 3*1rem)) {


    
    section:has(article){
        display:grid;
        gap: var(--size-md);
        grid-template-columns: auto;
        justify-content: center;
    }
    section article {
        display: flex;
        flex-wrap:nowrap;
        gap: var(--size-md);
    }
}
@media screen and (min-width: calc(3*11rem + 4*1rem)) {
    section:has(article) {
        background-color: var(--bg-primary);
        border-radius:50%;
        aspect-ratio: 1/1;
    }

    section:has(article){
        display:grid;
        gap: var(--size-md);
        grid-template-columns: repeat(3, var(--addbad-periodic-rem));
    }
    section:has(article) h3{
        grid-column: 1/-1;
        align-self: end;
        justify-self: center;
    }
    section article {
        display: flex;
        flex-wrap:wrap;
    }
}

@media screen and (min-width:calc(6*11rem + 7*1rem)) {
    section:has(article){
        grid-template-columns: repeat(6, var(--addbad-periodic-rem));;
    }
}
