@import url('ox_normal.css');

:root {
    /* Background Colors */
    --bg-primary: #BADBED;
    --bg-secondary: #DEDBAD;

    /* Text Colors */
    --fg-primary: #211121;
    --fg-secondary: #444444;
    --fg-emphasis: #111111;
    --fg-strong: #010101;
    --fg-muted: #101010;

    /* UI & Interactive Elements */
    --cta: #DABBAD;
    --warning: #BADDAD;
    --highlight: #BABE00;

    /* Spacing & Sizing */
    --size-xs: 0.3rem;
    --size-sm: 0.7rem;
    --size-md: 1rem;
    --size-lg: 1.414rem;
    --size-xl: 2.236rem;
    --size-xxl: 3.141rem;

    --addbad-periodic-rem: 11rem;

    --douglas-adams: 42rem;

    /* Transition Timing */
    --transition-fast: 0.2236s;
    --transition-default: 0.618s;
    --transition-slow: 1.732s;
}

body {
    font-family: monospace;
    color: var(--fg-primary);
    min-height: 100vh;
    background: var(--bg-secondary);
}

header,
footer {
    text-align: center;
    padding: var(--size-md);
    color: var(--fg-primary);
}

footer {
    background: var(--bg-primary);
}

header {
    text-align: center;
    font-size: var(--size-xl);
    font-weight: bold;
    width: 100%;
    max-width: var(--douglas-adams);
    margin: 0 auto;
}

h1,
h2,
h3 {
    color: var(--fg-strong);
    font-weight: bold;
    margin-bottom: var(--size-sm);
}


header h2 {
    text-align: right;
}

main>img {
    border-radius: 50%;
    width: 100%;
    max-width: var(--addbad-periodic-rem);
}

main>blockquote>*{
    /* margin on content because margin auto later */
    margin:11rem var(--size-md);

    font-size: var(--size-md);
    line-height: var(--size-lg);
}

main>blockquote cite {
    color: var(--fg-secondary);
    text-align: right;
    display: block;
    margin-bottom: var(--size-md);
}



section {
    margin-bottom: var(--size-xxl);
    padding: var(--size-sm);

}

button {
    background: var(--cta);
    color: var(--fg-strong);
    padding: var(--size-sm) var(--size-md);
    border: 2px solid var(--fg-strong);
    transition: background-color var(--transition-default);
}

button:hover {
    background: var(--highlight);
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--fg-strong);
    border-bottom: 2px solid var(--highlight);
    transition: color var(--transition-default);
}

a:hover {
    color: var(--highlight);
}



section:has(article) {
    background-color: var(--bg-primary);
}

section article {
    margin-bottom: var(--size-md);
}

article h4 * {
    display: none;
}

article h4>strong,
article h4>em {
    display: block;
    font-weight: bold;
}

section:has(form) {
    background-color: var(--bg-secondary);
    min-height:100vh;
}
form{
    margin: var(--size-xxl) 0;
    display: flex;
    flex-direction: column;
    gap: var(--size-md);
}
label {
    display: none;
}
textarea {
    background-color: var(--bg-primary);
    height: 23rem;
    border: 2px solid var(--fg-strong);
    padding: var(--size-xs);
}

main>section:not(:has(article)),
main>blockquote,
main>aside {
    max-width: var(--douglas-adams);
    margin: var(--addbad-periodic-rem) auto;
}

@media screen and (min-width:11rem) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    header>* {
        font-size: var(--size-lg);
        line-height: var(--size-xl);
    }



    main>img {
        width: 100%;
        margin: var(--size-xxl) auto;
        max-width: calc(1.5*var(--addbad-periodic-rem));
    }

    section article {
        display: flex;
        flex-wrap: wrap;
        gap: var(--size-md);
    }

    section article h4 {
        background-color: var(--bg-secondary);
        height: var(--addbad-periodic-rem);
        aspect-ratio: 1/1;

        border: 2px solid var(--fg-strong);

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding: var(--size-xs);
        color: var(--fg-strong);
    }

    section article h4>*:first-child {
        display: block;
    }

    section article h4 strong {
        font-size: var(--size-md);
        margin-bottom: var(--size-xs);
        text-align: center;
        text-transform: uppercase;
        font-size: 5rem;
    }

    section article h4 em {
        text-align: center;
        text-transform: lowercase;
        letter-spacing: 2px;
        font-weight: 600;
    }

    section article h4 em>* {
        display: block;
        color: var(--fg-secondary);
        font-size: 0.7em;
    }

    article p {
        font-size: 1.2em;
        line-height: 1.3em;
    }
}

@media screen and (min-width: calc(2*11rem + 3*1rem)) {
    section article {
        flex-wrap: nowrap;
        align-items: center;
    }
    main>blockquote>* {
        font-size: var(--size-lg);
        line-height: var(--size-xl);
    }
}

@media screen and (min-width: calc(3*11rem + 4*1rem)) {
    header>* {
        font-size: var(--size-xl);
        line-height: var(--size-xxl);
    }

    main>img {
        max-width: calc(2*var(--addbad-periodic-rem));
    }

    main>blockquote{
        max-width: var(--douglas-adams);
        margin: 0 auto;
    }



    section:has(article) {
        display: grid;
        grid-template-columns: repeat(3, var(--addbad-periodic-rem));
        gap: var(--size-md);
        justify-content: center;
    }
    section:has(article) h3 {
        grid-column: 1/-1;
        align-self: end;
        justify-self: center;
        font-size: var(--size-lg);
    }

    section article {
        flex-direction: column;
        align-items: start;
        justify-content: flex-start;
    }

    main>blockquote>* {
        font-size: var(--size-lg);
        line-height: var(--size-xl);
    }
}

@media screen and (min-width:calc(6*11rem + 7*1rem)) {

    main>blockquote>* {
        font-size: var(--size-xl);
        line-height: var(--size-xxl);
    }
    section:has(article) {
        grid-template-columns: repeat(6, var(--addbad-periodic-rem));

        border-radius: 50%;
        aspect-ratio: 1/1;
    }
    main>section:has(article) {
        max-width: var(--douglas-adams);
        margin: 0 auto;
    }
    section article h4 {
        background-color: transparent;
    }

    section article:nth-child(4) h4,
    section article:nth-child(5) h4 {
        background-color: var(--bg-secondary);
    }

    section article:nth-child(2) h4,
    section article:last-child h4 {
        background-color: var(--bg-primary);
    }
}