*{
  font-family: courier; font-weight: normal;
}

hr{clear:both; visibility:hidden;}

.section-divider{font-size:2.2em; margin:2em 0; text-align:center;}
.section-divider span{display:block; color:#D3D3D3; line-height: 0.6em;}
.section-divider span strong{color:black;}


#hexmakina, #header, #touch form, #touch_intro{margin:0 auto;}
#hexmakina{max-width:64em; padding:0.2rem; background:#FFF}

#header, #touch form, #touch_intro{max-width:32em;}

/* header #turing-quote {margin-top:2em; text-align:right;} */
#header h1{font-size:2.4em; margin:3.2em 0 0 0; text-align:left;}
#header h2{font-size:1.6em; margin:0.8em 0 3.2em 0; text-align:right;}
h3{font-size:2.4em; text-align:center;}


#intro {text-align:center}
#intro blockquote {padding:0; text-align:right; margin-block-start: 0; margin-block-end: 0; margin-inline-start: 0; margin-inline-end: 0;}
#intro blockquote  p{line-height:1.3em; font-size:0.9em}
#intro blockquote img{max-width:7em; }

#intro #turing-machine img {width:90%; height:auto;}

#aboutus{text-align:center;}

#aboutus dl, #aboutus dt, #aboutus dd{margin:0; padding:0;}

#aboutus dl dt{display:block; font-weight:bold; margin-top:3.2em;}
#aboutus dl dd{margin-bottom:0.5rem;}
/* dl dd{margin-bottom:3.2em;} */
#aboutus span{padding:0 0.2em;}

#aboutus dl dt.odd{margin-top:0;}
#aboutus dl dd.odd{margin-top:1.6em; margin-bottom:0;}

#aboutus p{margin:2em 0 0 0;}
#aboutus p strong{display:block}

#legal{text-align:justify; font-size:0.8em;}
#legal dt{font-weight:bold;}
#legal dd{}

.card_link img{width:100%; max-width:8em;}
.card_link a{color:#000;}
.card_link span, #touch_short small{display:block;}
.card_link span{color: purple;font-size: 1.5em; line-height: 1; margin: 5px 0 0 0;}
.card_link small{font-size:1em;}

.card_link{text-align:center; margin-bottom:2em;}

address{margin-top:8em;}
address p{text-align:right;font-size:0.8em; color:gray}
#hexmakina{border-width:0px; border-style: solid; padding:0.5em;}

#touch_intro{margin-bottom:3.2em;}



@media (max-width: 24em) {
  #intro #turing-machine img{max-width:16em;}
  #intro blockquote{font-size:1.1em; padding-right:0.2em;}
}

@media (min-width: 24em) {
  #hexmakina{border-width:2px; border-color: blue; padding:1em;}

  #intro {position:relative; max-width:24em; margin:0 auto;}
  #intro #turing-machine {text-align:left;}
  #intro #turing-machine img{max-width:16em;}
  #intro blockquote{position:relative; top:-1em; font-size:1.2em; }
  #intro blockquote img{padding-top:1em;}
  #intro blockquote p {margin: 0;}
  #intro blockquote p span, dl dd span{display:block;}
  
  #touch_short .card_link{float:left; width:50%;}
  #touch_short .card_link.last{width:100%; text-align:center;}
}

@media screen and (min-width: 40em){
  #hexmakina{border-top-width: 0; border-bottom-width: :0; border-color: purple;}
  
  #header h1{font-size:2.8em;}
  #header h2{font-size:2em;}
  
  #intro{max-width:100%;}
  #intro blockquote {float:left; width:60%; top:0em; }
  #intro #turing-machine{float:right; width:35%;}

}
@media screen and (min-width: 52em){
  #touch_short{margin: 0 2.5em;}
  
  #touch_short .card_link, 
  #touch_short .card_link.last{float:left;  width:33%;}
}
