*, .pure-g [class*=pure-u]{
  font-family: courier; font-weight: normal;
}


h1{font-size:2.4em; margin:3.2em 0 0 0; text-align:left;}
h2{font-size:1.6em; margin:1.6em 0 3.2em 0; text-align:right;}
h3{font-size:2.2em; margin:0 0 1em 0; text-align:center; }


a.section-divider{display:block; font-size:2.2em; margin:8em 0 4em 0; text-align:center;}
a.section-divider span{display:block; color:#D3D3D3; line-height: 0.6em;}
a.section-divider span strong{color:black;}

address{text-align:center;line-height: 1.6em;font-style: normal;margin-bottom:4em;}
address strong{ display:block; font-size:1.6em;}



.centered{margin:0 auto; max-width:32em;}
.compact{max-width:32em;}
#hexmakina{max-width:64em; padding:0.5em; }



#intro {text-align:right; margin-bottom:16em;}
#intro #turing-machine{ text-align:center; margin-top:2em;}
#intro #turing-machine img{ max-height:11em; }

#intro #turing-quote {margin-top:2em;}
#intro #turing-quote blockquote{padding:0; margin:0; text-align:right; }
#intro #turing-quote blockquote p{font-size:0.9em; line-height:1.3em;}
#intro #turing-quote img{ max-width:9em;}


#process h4 {height:150px; width:150px; margin:0 auto;}
#process h4 span{display:none;}

#process p{padding:0em 1.6em; text-align:center; margin-bottom:4em;}
#process p strong{display:block; margin:0.8em 0em;}
/*
position:
3,0: users
0,0: analysis
5,2: heart
5,1: modules
2,1: typo
3,2: web

1,1: pckc
*/
#process .icons{ background-image: url('tech-science-icons-white.png'); }
#process #bg1{ background-position:-39px -706px;  } /* delta X,Y : 226 */
#process #bg2{ background-position:-39px -28px;}
#process #bg3{ background-position:-265px -1158px;}
#process #bg4{ background-position:-491px -1158px; }
#process #bg5{ background-position:-491px -254px;}
#process #bg6{ background-position:-491px -706px;}

/*#touch{ text-align:center;}*/

#touch h3 {margin-top:0;}

#touch input, #touch textarea, #touch button{border:1px solid black;}

#touch label{ display:block; text-align:center;}
#touch textarea{ width:100%; height:20em;}
#touch input, #touch button{width:100%; height:55px; text-align:center; margin-bottom:0.5em;}
#touch button{ width:55px; border-radius:50%; background:black; color:#FFF; }


#touch dl{font-size:0.8em;}
#touch dt{font-weight:bold; text-align:right;}
#touch dd{margin:0px; text-align:justify; margin-bottom:1.1em;}

#touch q{display:block; margin:0 2em 0 1em;}
#touch q:before{content:"{ ";}
#touch q:after{content:" }";}

/*#touch dd:after{content:" }";}*/
@media (min-width: 24em) {
  /*#hexmakina{border:1px solid black;}*/
  #intro blockquote{font-size:1.2em}
}


/* pure sm */
@media screen and (min-width: 35.5em){
  /*#hexmakina{border:1px solid cyan;}*/

  h1{font-size:2.8em;}
  h2{font-size:2em;}

  #intro blockquote{font-size:1.3em}
}

/* pure md */
@media screen and (min-width: 48em){
  /*#hexmakina{border:1px solid green; }*/
  blockquote p {font-size:1.1em;}
}

/* pure lg */
@media screen and (min-width: 64em){
  /*#hexmakina{border:1px solid yellow; }*/
}

.pure-form fieldset input, .pure-form fieldset textarea{
  width:100%;
  margin-bottom:1em;
}
.pure-form fieldset textarea{
  height:10em;
}
