@import url('ox_normal.css');
@import url('html_exposed.css');
@import url('ox-addbad-0.css');
@import url('ox-addbad-1.css');
@import url('ox-addbad-2.css');
@import url('ox-addbad-3.css');
@import url('ox-addbad-6.css');


@media only screen and (orientation: landscape) {

    /* CSS rules for landscape mode */
    nav {
        flex-direction: column;
        bottom: var(--size-md);
        top:unset;
        align-items: end;
    }
}