/* Hide tags in specific contexts */
[data-not-exposed] *::before,
[data-not-exposed] *::after {
    content: none !important;
}

/* Accessibility */
@media (prefers-reduced-data: no-preference),
speech {

    [data-tag]::before,
    [data-tag]::after {
        content: none !important;
    }
}

/* Base styles for tagged elements */
[data-tag]::before,
[data-tag]::after {
    color: var(--bg-secondary, #888);
    text-transform: lowercase;
    font-size: 0.7rem;
    line-height: 1rem;
    transition: color 0.5s;
    speak: none;
}

/* Hover effect */
[data-tag]:hover::before,
[data-tag]:hover::after {
    color: #1E90FF;
}

/* Tag content */
[data-tag]::before {
    content: "<" attr(data-tag) ">";
    text-align: left;
    display: block;
}

[data-tag]::after {
    content: "</" attr(data-tag) ">";
    text-align: right;
}